
.mild_panic {
	--accent-color: #ff4a4a;
	--background-color: white;
	--text-color: white;
	--task-criteria-color: rgb(94, 94, 94);


	
	--header-button-background-color: #d52424;
	--header-button-symbol-color: var(--text-color);

	--header-button-background-hover-color: #a41616;
	--header-button-symbol-hover-color: var(--text-color);

	--header-button-background-active-color: var(--text-color);
	--header-button-symbol-active-color: #a41616;



	--decision-box-square-name: #4a4a4a;
	--decision-box-square-background: #ffbdbd;

	
	--decision-box-task-text-color: var(--text-color);
	--decision-box-task-background-color: var(--accent-color);

	--decision-box-task-hover-text-color: var(--text-color);
	--decision-box-task-hover-background-color: #ff0808;
	--decision-box-task-hover-box-shadow: rgb(26, 26, 26) 0 3px 3px;

	--task-font-size: 16px;

	--decision-box-highlight-border-color: var(--accent-color);
	
	--dropoff-box-text-color: rgb(88, 88, 88);
	--dropoff-box-border-color: rgb(88, 88, 88);

	--dropoff-box-text-highlight-color: green;
	--dropoff-box-border-highlight-color: green;
	
	--delete-dropoff-box-text-highlight-color: red;
	--delete-dropoff-box-border-highlight-color: red;

	--notice-text-color: gray;
	--notice-link-color: #bb1d1d;
	--notice-link-active-color: red;
	
	--completed-task-list-text-color: black;
	--completed-task-list-date-color: #555;
	--completed-task-list-overlay-background: rgba(0,0,0,0.3);
	--completed-task-list-background: var(--decision-box-square-background);
	--completed-task-list-header-background: var(--accent-color);
	--completed-task-list-header-color: var(--text-color);
	--completed-task-list-header-text-size: 20px;


	--completed-task-list-header-button-background-color: var(--header-button-background-color);
	--completed-task-list-header-button-symbol-color: var(--header-button-symbol-color);

	--completed-task-list-header-button-background-hover-color: var(--header-button-background-hover-color);
	--completed-task-list-header-button-symbol-hover-color: var(--header-button-symbol-hover-color);

	--completed-task-list-header-button-background-active-color: var(--header-button-background-active-color);
	--completed-task-list-header-button-symbol-active-color: var(--header-button-symbol-active-color);
	
	--no-completed-tasks-message-text-color: #4a4a4a;
}