
.task_dropoffs {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	flex-basis: 0;
	box-sizing: border-box;
	gap: 10px;
}

@media (orientation: landscape) {
	.task_dropoffs {
		flex-flow: column;
	}

	.task_dropoff {
		aspect-ratio: 1/2;
	}
}

@media (orientation: portrait) {
	.task_dropoffs {
		flex-flow: row;
	}
	
	.task_dropoff {
		width: 50%;
		height: 100%;
	}
}

.task_dropoff {
	background-color: red;
	border-radius: 10px;
}
