
.noselect {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

.nodisplay {
	display: none !important;
}

.template {
	display: none !important;
}

.transparent {
	opacity: 0;
}

body {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.app {
	padding: 0;
	margin: 0;

	width: 100vw;
	height: 100vh;

	font-family: "Finlandica", serif;
	font-optical-sizing: auto;

	background-color: var(--background-color);
	color: var(--text-color);

	display: flex;
	flex-flow: column;

	overflow: hidden;
}

body.switching_style, body.switching_style * {
	transition: color 0.67s ease-in-out,
				background-color 0.67s ease-in-out,
				fill 0.67s ease-in-out !important;
}

.content {
	display: flex;
	position: relative;

	flex-shrink: 1;
	flex-grow: 1;

	
	justify-content: center;

	box-sizing: border-box;
	min-height: 0px;

	padding: 10px;
}

.notice {
	width: 100%;
	text-align: center;

	color: var(--notice-text-color);
	padding: 10px;
}

.notice a {
	color: var(--notice-link-color);
	transition: color 0.1s ease-in-out;
}

.notice a:hover {
	color: var(--notice-link-active-color);
}
